.invest-wrapper .container{
  padding-top: 13rem;
}
.invest-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invest-container>div{
    flex: 1;
}
.invest-left{
 display: flex;
 flex-direction:column;
 gap: 2rem;
}
.invest-left .invest-head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.invest-left .invest-head .title{
    text-align: left;
    color: white;

}
.invest-features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.invest-feature{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 28rem;
}
.invest-feature .description{
    color: var(--fourth-color);
}
.invest-feature .text{
    color:white ;
    text-align: justify;
}
.invest-right{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

}
.invest-right img{
    width: 100%;
}
@media (max-width:990px) {
    .invest-container{
        flex-direction: column;
        padding: 2rem;
    }
    .invest-right{
        align-self: center;
        margin-top: 2rem;
    }
    .invest-right img{
        max-width: 20rem;
    }
    
}